.popup {
  opacity: 0;
  visibility: hidden;
  transition: visibility .4s, opacity .4s ease-in-out;
}

.popup:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: .3;
    transition: opacity .4s ease-in-out;
  }
